section h1{
    font-size: 36px;
    font-weight: 600;
    margin-top: 50px;
}

h1 + p{
    margin-top: 15px;
}

.hero-section{
    padding: 30px 30px 0px 30px;
}
.group-img{
    display: flex;
    justify-content: center;
}

.group-img img{
    width: 50vw;
}